In [1]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import plotly.graph_objects as go
sns.set_theme(style="whitegrid")

In [2]:
df = pd.read_csv(r"C:\Users\asuna\Downloads\data_sensors.csv",parse_dates=['timestamp'])

In [3]:
df.drop_duplicates(inplace=True)
df.head()

,timestamp,equipment_energy_consumption,lighting_energy,zone1_temperature,zone1_humidity,zone2_temperature,zone2_humidity,zone3_temperature,zone3_humidity,zone4_temperature,...,zone9_temperature,zone9_humidity,outdoor_temperature,atmospheric_pressure,outdoor_humidity,wind_speed,visibility_index,dew_point,random_variable1,random_variable2
0,2016-01-11 17:00:00,60.0,-77.78778596503064,33.74660933896648,47.59666666666671,19.2,44.790000,19.79,NaN,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.300000,13.275433,13.275433
1,2016-01-11 17:10:00,60.0,30.0,19.89,46.69333333333329,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.200000,18.606195,18.606195
2,2016-01-11 17:20:00,50.0,30.0,19.89,46.3,19.2,44.626667,19.79,44.933333,35.921144,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.100000,28.642668,28.642668
3,2016-01-11 17:30:00,50.0,40.0,33.74660933896648,46.0666666666667,19.2,44.590000,19.79,45.000000,NaN,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,37.673716,45.410389,45.410389
4,2016-01-11 17:40:00,60.0,40.0,19.89,46.33333333333329,19.2,44.530000,19.79,45.000000,18.890000,...,4.476511,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.900000,10.084097,10.084097

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16789 entries, 0 to 16856
Data columns (total 29 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   timestamp                     16789 non-null  datetime64[ns]
 1   equipment_energy_consumption  15948 non-null  object
 2   lighting_energy               15983 non-null  object
 3   zone1_temperature             15927 non-null  object
 4   zone1_humidity                15990 non-null  object
 5   zone2_temperature             15941 non-null  object
 6   zone2_humidity                15926 non-null  float64
 7   zone3_temperature             15991 non-null  float64
 8   zone3_humidity                15912 non-null  float64
 9   zone4_temperature             15978 non-null  float64
 10  zone4_humidity                16014 non-null  float64
 11  zone5_temperature             15957 non-null  float64
 12  zone5_humidity                15992 non-null  float64
 13  zone6_temperature             15947 non-null  float64
 14  zone6_humidity                15948 non-null  float64
 15  zone7_temperature             16002 non-null  float64
 16  zone7_humidity                15989 non-null  float64
 17  zone8_temperature             15946 non-null  float64
 18  zone8_humidity                16013 non-null  float64
 19  zone9_temperature             16018 non-null  float64
 20  zone9_humidity                15903 non-null  float64
 21  outdoor_temperature           15987 non-null  float64
 22  atmospheric_pressure          15948 non-null  float64
 23  outdoor_humidity              15995 non-null  float64
 24  wind_speed                    15967 non-null  float64
 25  visibility_index              15980 non-null  float64
 26  dew_point                     15966 non-null  float64
 27  random_variable1              15965 non-null  float64
 28  random_variable2              15966 non-null  float64
dtypes: datetime64[ns](1), float64(23), object(5)
memory usage: 3.8+ MB

In [5]:
num_cols = df.columns.drop('timestamp')
df[num_cols] = df[num_cols].apply(pd.to_numeric, errors='coerce')
df.dtypes

timestamp                       datetime64[ns]
equipment_energy_consumption           float64
lighting_energy                        float64
zone1_temperature                      float64
zone1_humidity                         float64
zone2_temperature                      float64
zone2_humidity                         float64
zone3_temperature                      float64
zone3_humidity                         float64
zone4_temperature                      float64
zone4_humidity                         float64
zone5_temperature                      float64
zone5_humidity                         float64
zone6_temperature                      float64
zone6_humidity                         float64
zone7_temperature                      float64
zone7_humidity                         float64
zone8_temperature                      float64
zone8_humidity                         float64
zone9_temperature                      float64
zone9_humidity                         float64
outdoor_temperature                    float64
atmospheric_pressure                   float64
outdoor_humidity                       float64
wind_speed                             float64
visibility_index                       float64
dew_point                              float64
random_variable1                       float64
random_variable2                       float64
dtype: object

In [6]:
#finding null values
for col in df.columns:
    missing=sum(df[col].isnull())
    print(col,'-',missing)

timestamp - 0
equipment_energy_consumption - 909
lighting_energy - 861
zone1_temperature - 944
zone1_humidity - 886
zone2_temperature - 918
zone2_humidity - 863
zone3_temperature - 798
zone3_humidity - 877
zone4_temperature - 811
zone4_humidity - 775
zone5_temperature - 832
zone5_humidity - 797
zone6_temperature - 842
zone6_humidity - 841
zone7_temperature - 787
zone7_humidity - 800
zone8_temperature - 843
zone8_humidity - 776
zone9_temperature - 771
zone9_humidity - 886
outdoor_temperature - 802
atmospheric_pressure - 841
outdoor_humidity - 794
wind_speed - 822
visibility_index - 809
dew_point - 823
random_variable1 - 824
random_variable2 - 823